<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <title>Listing 10.3</title>
    <style type="text/css">
      #box { position: absolute; background-color: #00bfff; border: 2px solid #00008b; padding: 8px; }
    </style>
    <script src="http://base2.googlecode.com/svn/version/1.0.2/base2-p.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="../scripts/assert.js"></script>
    <script type="text/javascript" src="subclass.js"></script>
    <script type="text/javascript" src="globalEval.js"></script>
    <link href="../styles/assert.css" rel="stylesheet" type="text/css">
  </head>
  <body>

    <script type="text/javascript">

      (function() {
        var cache = {};

        this.tmpl = function tmpl(str, data) {

          var fn = !/\W/.test(str) ?
              cache[str] = cache[str] ||
                tmpl(document.getElementById(str).innerHTML) :
              new Function("obj",
                  "var p=[],print=function(){p.push.apply(p,arguments);};" +
                    "with(obj){p.push('" +
                    str
                      .replace(/[\r\t\n]/g, " ")
                      .split("<%").join("\t")
                      .replace(/((^|%>)[^\t]*)'/g, "$1\r")
                      .replace(/\t=(.*?)%>/g, "',$1,'")
                      .split("\t").join("');")
                      .split("%>").join("p.push('")
                      .split("\r").join("\\'")
                    + "');}return p.join('');");
              return data ? fn(data) : fn;
        }
      })();

      assert(tmpl("Hello, <%= name %>!", {name:"world"}) ==
        "Hello, world!", "単純な変数を含むテンプレーティングの実行。");

      var hello = tmpl("Hello, <%= name %>!");

      assert(hello({name:"world"}) == "Hello, world!",
        "コンパイル済みのテンプレートを使う。");

    </script>
  </body>
</html>
